<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681694685037-hk2khdihk43smd4kiashvks7kaibgn41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681694685037-hk2khdihk43smd4kiashvks7kaibgn41</string>
	<key>API_KEY</key>
	<string>AIzaSyC3coKTr7uuRjeBKef8K0Pa_VFJ-SZvoPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>681694685037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyshopy24x7.app</string>
	<key>PROJECT_ID</key>
	<string>easyshopy-79adf</string>
	<key>STORAGE_BUCKET</key>
	<string>easyshopy-79adf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681694685037:ios:1d5789ed921cd943db5c64</string>
</dict>
</plist>